:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color: #000;
  padding: 0 10% 10%;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("../../../assets/bg.jpg");
  background-size: 350px 397px;
  background-blend-mode: hard-light;

  > .logo {
    width: 100%;
    max-width: 500px;
  }
}
