<img
  class="logo"
  src="../../../assets/star-wars-logo.png"
  alt="logo"
  role="logo"
/>

<ng-container *ngIf="characterList$ | async as characterList; else loading">
  <app-character-list [characterList]="characterList"></app-character-list>

  <app-load-more-button
    *ngIf="{ url: nextPage$ | async } as nextPage"
    [nextPage]="nextPage.url"
    [loading]="loading$ | async"
    (onClick)="fetchCharacters(nextPage.url)"
  ></app-load-more-button>
</ng-container>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
