<div class="flip-card">
  <div class="flip-card-inner">
    <div
      class="flip-card-front"
      [style.backgroundImage]="'url(' + _imageUrl + ')'"
      role="image"
    >
      <p class="title">{{ _character.name }}</p>
    </div>
    <div class="flip-card-back">
      <h2 class="back-title">{{ _character.name }}</h2>
      <p class="back-text">Height: {{ _character.height }}</p>
      <p class="back-text">Mass: {{ _character.mass }}</p>
      <p class="back-text">Hair color: {{ _character.hair_color }}</p>
      <p class="back-text">Skin color: {{ _character.skin_color }}</p>
      <p class="back-text">Eye color: {{ _character.eye_color }}</p>
      <p class="back-text">Birth year: {{ _character.birth_year }}</p>
      <p class="back-text">Gender: {{ _character.gender }}</p>
    </div>
  </div>
</div>
